html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.6rem;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
}

.frogs {
    display: flex;
    justify-content: space-between;
}

.frog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;

    font-weight: bold;
    background-image: url("../../assets/pepe.png");
    background-size: 7rem 7rem;
}

.empty {
    width: 7rem;
    height: 7rem;
}
.frog:hover {
    cursor: pointer;
}

.frog.white {
    border: 1px solid black;
}

.frog.black {
    color: white;
    transform: scaleX(-1);
    background-color: black;
}

.log-box {

}

.undo {

}

.logs {

}